body {
    background-color: #000000;
	background-image: url("");
	background-repeat: repeat;
	background-attachment: fixed;
    color: #ffffff;
    font-family: Verdana, Courier, monospace;
    font-size: 16px;
    }
a {
    color: #ffffff;
    font-size: 12px;
    font-family: Verdana, Courier, monospace;
}
a:hover {
    color: #ffffff;
}
h1 {
    color: #ffffff;
    font-size: 50px;
    font-family: Verdana, Courier, monospace;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
}
h2 {
    color: #ffffff;
    font-size: 25px;
    font-family: Verdana, Courier, monospace;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
}
tr {
    color: #ffffff;
    font-size: 12px;
    list-style-type: none;
    margin: auto;
    padding: 20px;
    padding-left: 40px;
    max-width: 100%;
    background: #000000;
    }
th a {
    display: block;
    color: #ffffff;
    background-color: #000000;
    font-size: 12px;
    text-decoration: none;
    width: 200px;
    height: 34px;
    padding: 10px;
    font-weight: normal;
    }
th a:hover {
    background-color: #000000;
    color: #ffffff;
    }
    @media screen and (max-width: 600px) {
  tr {
    max-width: 100%;
  }
}